#
# requirements-appveyor.txt
#
# Date Created: 3/15/2018
# Author: See AUTHORS
#
# Useful for configuring a python environment to run swmm-nrtestsuite.
#
# command: pip install -r tools/requirements-appveyor.txt
#

nrtest==0.2.5

swmm-toolkit==0.15.1

nrtest-swmm
